nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  padding-bottom: 25px;
}
.logo {
  width: 45%;
  display: flex;
  height: 65px;
  /* width: 500px; */
  margin: 5px 15px;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 223, 233);
}
.nav-bar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-transform: uppercase;
}
li {
  margin: 15px 5px;
}
.avatar {
  width: 200px;
  border-radius: 20px;
}
#name {
  color: black;
  font-size: 35px;
}
section {
  width: 100%;
  /* background-color: #f8f8ff; */
  background-color: #618394;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0 0 0;
  margin: 2px;
  flex-direction: row;
}
.about-me {
  width: 300px;
  /* height: 100px; */
  /* border-radius: 50px; */
  margin: 5px;
  justify-content: space-evenly;
  display: flex;
}
.about-me-info {
  max-width: 300px;
  margin: 30px;
  text-align: justify;
  text-justify: auto;
}
/* .about-me-info{
  width: 300px;
  height: 300px; 
   background-color:green;
   margin: 30px;
} */
#main {
  box-shadow: 2px 2px 5px white;
}
.test {
  width: 30px;
  height: 30px;
  background-color: black;
  margin: 5px;
}
.button {
  text-align: center;
  border: 0;
  padding: 10px 20px;
  background-color: rgb(66, 0, 220);

  font-size: 16px;
  width: 80px;
  color: white;
  border-radius: 50px;
  /*padding: 0 20px;
  font-size: 20px;
   line-height: 2.5;
  width: 150px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0) 
  );
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-radius: 10px;*/
}
.button:hover {
  background-color: rgb(168, 165, 165);
}
.button-active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: purple;
}
a:active {
  color: purple;
}
footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  footer {
    /* background-color: rgb(209, 198, 236); */
  }
}
.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-info {
  margin: 30px;
  max-width: 600px;
}
.hero-image {
  width: 300px;
  height: 300px;
  margin: 30px;
}
/* .hero-etc {
  width: 300px;
  height: 300px;
  background-color:grey;
  margin:5px;
} */
.styled-break {
  height: 5px;
  background-color: #ffa500;
  border-radius: 50px;
}
.input-section {
  margin: 10px 0;
  display: flex;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 0;
}
.form {
  margin: 0 5px 0;
}
@media only screen and (max-width: 900px) {
  .hero-info {
    max-width: 900px;
  }
  .hero-image {
    visibility: hidden;
    height: 0px;
  }
}
.projects {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* flex-wrap: wrap; */
  padding: 40px 0 0 0;
  margin: 1px;
}
.jelly-bean-bash {
  text-decoration: none;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #618394;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
/* .project-text {
  height: 100px;
  margin: 10px;
} */
.jbeanpicture {
  text-decoration: none;
  /* justify-content: center; justify-content: center; */
  width: 300px;
  height: 270px;
  background-color: grey;
  padding: 1px;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}
.pland-text {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
.my-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.project-title {
  /* display: flex;
  flex-wrap: wrap; */
  flex-direction: column;
  width: 100px;
}
.petland-desc {
  height: 50px;
  text-align: justify;
  text-justify: initial;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.tester {
  /* background-color: red; */
  width: 100%;
  text-align: center;
  align-items: center;
  flex: display;
  flex-direction: column;
}
